In [6]:
import pandas as pd
from unidecode import unidecode
# from vnpy import tokenize
from pyvi import ViTokenizer

In [3]:
txt = " TP. H“ Chí Minh"
txt.encode(encoding= 'utf-8', errors="backslashreplace")

b' TP. H\xe2\x80\x9c Ch\xc3\xad Minh'

In [4]:
txt = b' TP. H\xe2\x80\x9c Ch\xc3\xad Minh'
txt.decode(encoding="utf-8", errors="backslashreplace")

' TP. H“ Chí Minh'

In [18]:
txt = "TP. Hồ Chí Minh"

print(txt.encode(encoding="utf-8",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'TP. H\xe1\xbb\x93 Ch\xc3\xad Minh'
b'TP. H Ch Minh'
b'TP. H\\N{LATIN SMALL LETTER O WITH CIRCUMFLEX AND GRAVE} Ch\\N{LATIN SMALL LETTER I WITH ACUTE} Minh'
b'TP. H? Ch? Minh'
b'TP. H&#7891; Ch&#237; Minh'

In [12]:
df = pd.read_csv("./Education dataset/01.sinhvien.csv", encoding = "ISO-8859-1")
df

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_30648\4173005477.py:1: DtypeWarning: Columns (17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./Education dataset/01.sinhvien.csv", encoding = "ISO-8859-1")

,id,masv_tham so dau,masv,namsinh,gioitinh,noisinh,lopsh,khoa,hedt,khoahoc,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,1.0,1352,BE375BAAXPvAibaEXe9JDlHA4z2GHJ3/PVStCxR2,1995,1.0,TP. H Chí Minh,KTPM0001,CNPM,CQUI,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1352,2420ED57XPvAibaEXe/Lh6v1XxTKJa6JLFRUPkLM,1995,1.0,?ng Tháp,HTTT0001,HTTT,CTTT,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,1352,83B76C01XPvAibaEXe/lOccskaOiO2K46r7t4qnt,1994,1.0,Hà Nam Ninh,KHMT2013,KHMT,CQUI,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1352,91F785ABXPvAibaEXe/lOccskaOiO5y4GbVvuRQu,1995,1.0,TP. H Chí Minh,HTTT0001,HTTT,CTTT,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1352,007C275DXPvAibaEXe+TFgEDwYNnveOOmOYeYzF6,1995,1.0,Thành ph H Chí Minh,MMTT0001,MMT&TT,CQUI,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8311,19283.0,'18,A90A5811XPvAibaEXe/YoO1jzW8XOXvIMBBcj6JV,'2000',1.0,'An Giang','MMCL2019.2','MMT&TT','CLC',14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8312,19284.0,'19,5B8B3375XPvAibaEXe+YP7LJgGnBm5fX+v1K+v0a,'2001',1.0,'Bình Thu?n','KHMT2019','KHMT','CQUI',14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8313,19285.0,'19,AB0C8E8CXPvAibaEXe+YP7LJgGnBm0zuLxFhwUTw,'2001',1.0,'Lâm ?ng','KHMT2019','KHMT','CQUI',14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8314,19345.0,'19,216E85A6XPvAibaEXe+YP7LJgGnBm5RzswyQxMPn,'2000',1.0,'B?n Tre','CNTT2019','KTTT','CQUI',14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8315,21059.0,'19,011F3320XPvAibaEXe+YP7LJgGnBm0aYYTPZE6X5,'2001',1.0,'Thành ph H Chí Minh','TMCL2020','HTTT','CLC',14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
from ftfy import fix_encoding
mystr = '09. BÃ¡t NhÃ£ TÃ¢m Kinh'
fix_encoding(mystr)

'09. Bát Nhã Tâm Kinh'

In [18]:
from Levenshtein import distance

In [92]:
text = fix_encoding(df[" noisinh"][1000])
source = " TP. Hồ Chí Minh"
text.split(" ")[1:]
reference = text.split(" ")[1:]
reference

["'Thành", 'ph‘', 'H“', 'Chí', "Minh'"]

In [43]:
txt = "Lâm Đồng"
txt = txt.split(" ")

In [32]:
import nltk

In [44]:
BLEUscore = nltk.translate.bleu_score.sentence_bleu([reference], txt)
print(BLEUscore)

1.5319719891192393e-231

c:\Users\ADMIN\anaconda3\envs\code\Lib\site-packages\nltk\translate\bleu_score.py:552: UserWarning:
The hypothesis contains 0 counts of 2-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
c:\Users\ADMIN\anaconda3\envs\code\Lib\site-packages\nltk\translate\bleu_score.py:552: UserWarning:
The hypothesis contains 0 counts of 3-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)
c:\Users\ADMIN\anaconda3\envs\code\Lib\site-packages\nltk\translate\bleu_score.py:552: UserWarning:
The hypothesis contains 0 counts of 4-gram overlaps.
Therefore the BLEU score evaluates to 0, independently of
how many N-gram overlaps of lower order it contains.
Consider using lower n-gram order or use SmoothingFunction()
  warnings.warn(_msg)

In [115]:
dict = {"province": []}
df_text = pd.DataFrame(dict)

In [137]:
with open("Education dataset\dsfull.txt") as f:
    for x in f:
        text = x.split("\n")[0]
        text_split = text.split(" ")
        df_text.loc[len(df_text.index)] = [text]

In [169]:
list_word = []
for province in df[" diachi_tinhtp"].unique():
    max_distance = float("inf")
    most_similar_word = ''
    try:
        f_encoding_province = fix_encoding(province)
    except:
        list_word.append(most_similar_word)
        pass
    for str in df_text["province"]:
        distance = nltk.edit_distance(f_encoding_province, str)
        if distance < max_distance:
            max_distance = distance
            most_similar_word = str
    # print(fix_encoding(province),":",most_similar_word)
    list_word.append(most_similar_word)

In [ ]:
df_copy = pd.DataFrame(df[" diachi_tinhtp"].unique().copy())
df_copy["correct"] = list_word
df_copy.to_csv("result.csv")

ValueError: Length of values (671) does not match length of index (903)